body {
    background-color: black;
    
  }

h1 {
    color: green;
    background-color: green;
    text-align: center;
    
}

h2 {
    font-family: 'Brush Script MT', cursive;
    font-weight: lighter;
}

header * {
    display: inline;
}

.backtrack {
    margin-top: 10px;
}

header a {
    color:crimson;
    text-decoration: none;
    text-align: center;
    margin: 100px;
}

.menu {
    display: flex;
    justify-content: center;
}

p {
  color: white; 
  padding: 0px 100px 90px;
  text-align: center;
}

main {
    color: white;
    text-align: center;
}

.resized-img {
    width: 650px;
    height: 633px;
  }
