body {
    background-color: yellow;
  }

h1 {
    color: #FF4500;
    background-color: green;
    
}

header * {
    display: inline;
}

header li {
    margin: 30px;
}

header li a {
    color:crimson;
    text-align: center;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: center;
}


